.qual-input-box {
  padding: 0;
  margin: 24px 24px;
  background-color: white;
  border-radius: 5px;
}

.education-header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  background-color: #dbefff;
}

.education-header > img {
  width: 20px;
}

.education-input {
  padding: 25px;
}

.box-input {
  width: 240px;
}

.input-name {
  font-size: 15px;
  color: #666666;
}

.input-double {
  display: flex;
  gap: 20px;
}

.input-double .box-input {
  width: 450px;
}

.radio-double {
  margin: 10px 0;
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.bottom-button-box {
  display: flex;
  margin-bottom: 20px;
  margin-left: 400px;
  gap: 20px;
}

.bottom-button-box > button {
  margin: 0px;
  align-self: center;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  width: 100px;
  height: 2.5rem;
  background-color: #3fd28b;
  color: #22383c;
  border-style: hidden;
  box-shadow: 0px 2px 6px 1px lightgray;
}
