.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}

.expire {
  position: absolute;
  background-color: #ffe4e6;
  color: #e2585d;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 5px;
  border-radius: 3px;
  top: -10px;
  left: 830px;
}

.line {
  color: #e0e0e0;
}

hr {
  border-top: 1px solid #e0e0e0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.title {
  color: #1f7a54;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

span {
  color: #6a6a6a;
  font-size: 15px;
  font-weight: 600;
}

.date-place {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.date {
  margin-right: 20px;
  font-weight: 500;
}

.place {
  margin-left: 5px;
  color: #6a6a6a;
  font-size: 15px;
  font-weight: 600;
}

.location-icon {
  margin-left: 20px;
  width: 15px;
}

.roles {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.inner-element {
  font-weight: 500;
  display: flex;
  gap: 10px;
}

.note {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  background-color: #eedd6b;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 20px;
}

button {
  cursor: pointer;
  align-self: center;
  background-color: #3fd28b;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  font-size: 17px;
  margin-top: 25px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}
